[Unit]
Description=The fdbus name_server daemon

[Service]
Type=simple 
ExecStart=/usr/bin/host_server
Restart=always
Environment=

[Install]
WantedBy=multi-user.target
